

/* ========== BUTTONS COLOURING ========== */
.btn {
  background: #E2A66A;
  color: white;
  padding: 10px 20px;
}

/* ========== MAIN BODY SECTIONS ========== */
.hero {
  background-color: #E6E4D8;
}

.category {
  background: #ddd;
}

