
/* ========== MAIN BODY LAYOUT ========== */
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


/* ========== MAIN BODY ALIGNMENT ========== */
.hero {
  text-align: center;
  padding: 3em 1em;
}

.categories {
  padding: 2em;
  text-align: center;
}

.category-grid {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.category {
  padding: 2em;
  width: 100px;
  border-radius: 6px;
}



/* ========== RESPONSIVE DESIGN ========== */

@media screen and (max-width: 600px) {
  .nav-links {
    flex-wrap: wrap;
    gap: 8px;
    font-size: 12px;
  }

  .popup input {
    width: 100%;
  }
}


@media screen and (min-width: 1024px) {
  .hero h2 {
    font-size: 36px;
  }

  .category-grid {
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    padding: 15px 30px;
    font-size: 18px;
  }
}