
/* ========== MAIN BODY LAYOUT ========== */
/*
body {
  line-height: 1.6;
}
*/

/* space to accomodate for nav bar */
main {
  padding-top: 50px; 
}


html, body {
  overflow-x: hidden;

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.6;

}


/*
img {
  max-width: 100%;
  height: auto;
  display: block;
}
*/


/* keep footer below */
.mainComponent{
  flex: 1;
  display: flex;
  flex-direction: column;
} 






/* ========== HOMEPAGE ========== */
/* ========== MAIN BODY ALIGNMENT ========== */

/* HEADER IMAGE */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0 30px;

}

/* explore collection button */
.header-cta {
  position: absolute;
  bottom: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Icon next to button */
.header-icon {
  height: 50px;
  
}



/* CATEGORIES */
/* text placement */
.categories {
  text-align: center;
  padding: 0px 30px 100px;
}


/* grid placement */
.categories-grid {
  display: grid;
  /* have three equal columns  */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;

}

/* category Box layout */
.category-box {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;

}

/* Taller australian made box */
.category-box-tall {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 580px;


}

/* Overlay text alignment(on categories) */
.category-overlay {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Categories 'shop now' buttons */
.category-btn {
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;

}

a.category-btn {
  padding: 7px 40px;

}


/* WHY CHOOSE SECTION */
/* Header row: side by side layout */
.header-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

/* text placement */
.header-row h1 {
  flex: 40%;
  margin: 0;
  text-align: left;
}

.header-row .subtext {
  margin: 0;
  max-width: 40%;
}


/* why choose - features placement */
.why-features {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.why-feature {
  flex: 1;
  min-width: 240px;
  text-align: left;
}

.why-icon {
  height: 40px;
  margin-bottom: 15px;
}



/* GALLERY SECTION  */
/* gallery layout */
.gallery-section {
  padding: 100px 50px 50px;

}

.gallery-section .header-row {
  margin-bottom: 50px;
}


/* Scrollable image area */
.gallery-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.gallery-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 2rem;
  scroll-snap-type: x mandatory;

}


/* Individual gallery items */
.gallery-item {
  min-width: 250px;
  /* make gallery images fit frame */
  flex: 0 0 30%;
  scroll-snap-align: start;
  text-align: center;
}

/* size of each image */
.gallery-item img {
  width: 100%;
  border-radius: 8px;
  display: block;
  height: 300px; 
  object-fit: cover; 
}


/* Gallery arrows */
.gallery-arrow {
  position: absolute;
  top: 5cqmax;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.3);
  border: none;

  font-size: 1rem;
  top: 40%;
  
  padding: 8px;
  border-radius: 50%;

  cursor: pointer;

}
.gallery-arrow.left {
  left: 10px;
}
.gallery-arrow.right {
  right: 10px;
}




/* TESTIMONIALS SECTION */
/* header text placement */
.testimonials-section {
  text-align: center;
  padding: 0px 30px 100px;
}


/* Main testimonials layout */
.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.testimonial-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 900px;
}

/* Testimonials image layout */
.testimonial-image img {
  width: 400px;
  height: 400px;
  max-width: 400px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid black;
}

/* Arrows */
.testimonial-arrow {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  
}


.testimonial-arrow.left {
  margin-right: 20px;
}

.testimonial-arrow.right {
  margin-left: 20px;
}


/* ========== RESPONSIVENESS FOR MOBILE ========== */

@media (max-width: 768px) {

  /* CATEGORIES */
  /* Category grid mobile layout */

  .categories-grid {
    /* have one column */
    grid-template-columns: 1fr;
  }
   
  .category-box-tall {
    grid-column: auto;
    grid-row: auto;
  }

  .category-box, .category-box-tall {
    height: 250px;
  }


  /* WHY CHOOSE SECTION */
  /* text placement modified (directly under one another) */
  .header-row .subtext {
    text-align: left;
    min-width: 100%;
  }

  .why-features {
    display: block;

  }


  /* GALLERY SECTION  */
  /* background padding */
  .gallery-section {
    padding: 50px 30px;
  
  }
  
  .gallery-arrow {
    display: none;
  }
  

  /* scrolling adjusted */
  .gallery-scroll {
    /* padding: 10px 20px; */
    gap: 0.8rem;
  }

  /* gallery images fit frame differently */
  .gallery-item {
    flex: 0 0 70%; 
    min-width: 0;
  }

  /* smaller image size */
  .gallery-item img {
    height: 180px; 
  }



  /* TESTIMONIALS SECTION */
  /* change layout gap */
  .testimonial-container {
    flex-direction: row;
    gap: 10px;

  }

  /* gap between image and text */
  .testimonial-slide {
    display: flex;
    flex-direction: row;
    gap: 15px;

  }

  /* Image size reduce */
  .testimonial-image img {
    width: 140px;
    height: 250px;

  }

  /* arrow positioning */
  .testimonial-arrow {
    position: absolute;
    top: 100%;
    right: 0

  }

}


/*
@media screen and (min-width: 1024px) {
 
  
} */







/* ========== EXPLORE COLLECTIONS ========== */
/* page divider */
.page-divider .divider {
  margin: auto;
  width: 90%;
 
}







/* ========== PRODUCTS 1 PAGE ========== */
/* SMALL NAV at top */
.small-nav {
  padding-top: 30px;
  padding-left: 50px;
  
}

/* TITLE */
.bedroom-title, .bedroom-title .divider {
  padding-left: 50px;
  margin-right: 100px;
}



/* SORT BY button layout */
.sort-arrow {
  vertical-align: middle; 
}

.sort-by {
  padding: 20px 50px;
  position: relative;
  text-align: right;
  
}


/* arrow sort by */
.sort-btn img {
  height: 20px;
  margin-left: 8px;
}

/* hidden sort options */
.sort-options {
  position: absolute;
  top: 70px;
  right: 50px;

  border-radius: 8px;
  padding: 10px;
  z-index: 10;
  text-align: left;
}

.sort-options p {
  margin: 0;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 8px;
}



/* overall products layout */
.products-layout {
  display: flex;
  gap: 20px;
  margin: 30px 50px;
}


/* SIDE BAR FILTERS */
.filters {
  flex: 0 0 280px;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.filters .divider {
  margin: 20px 0;
}


/* hidden filters */
.filter-options {
  margin-top: 5px;
}

.filter-options label {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;

}

/* filters tick */
.filter-options input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 3px;

  display: inline-block;
  position: relative;
  
  cursor: pointer;
  vertical-align: middle;

}

.filters input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


/* product type scrolling */
[data-filter-options="producttype"] {
  max-height: 150px;
  overflow-y: auto;
}


/* price adjustment */
[data-filter-options="price"] label {
  display: block;
  margin-bottom: 10px;
}

[data-filter-options="price"] input[type="number"] {
  width: 95%;
  padding: 10px 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

/* filter button */
.filters .btn {
  cursor: pointer;
  margin: 50px 0;
}


/* don't display hidden */
.hidden-filter {
  display: none;
}



/* PRODUCTS */
/* 3 columns (desktop) */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 0.1rem;
  flex: 1;
}


/* product images adjustment */
.product-card img:not(.sale-icon) {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;

}

/* each product layout */
.product-card {
  background: none;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  position: relative;
  padding-bottom: 20px;
  
}



/* sale icon(on last product) */
.product-card .sale-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20%; 
  z-index: 5;
  
}

.mobile-hide {
  padding: 0;
}



/* product dots */

.image-container {
  position: relative;
}

.product-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  
}

.product-dots span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  
}


/* BOTTOM PAGE change */
.pages {
  text-align: center;
  margin: 40px 0 40px 220px;
}

.pages button {
  background: none;
  border: 1px solid black;;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  margin: 0 3px;
  border-radius: 20px;
  cursor: pointer;
  
}


/* ========== RESPONSIVENESS FOR MOBILE ========== */

/* Mobile FILTER BUTTON */
.mobile-filter-btn {
  padding: 10px 20px;
  display: none;
}


.mobile-filter-btn img {
  height: 18px;
}


.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 5px;

}


/* Mobile FILTER OVERLAY */
.mobile-filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.mobile-filter-overlay.show {
  transform: translateX(0);
}


.mobile-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #CCC3BA;
}


/* cross */
.close-filter {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
}


/* hidden overlays content */
.mobile-filter-content {
  padding: 20px;
  flex: 1;
}


/* mobile filter buttons */
.mobile-filter-actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 20px;
  border-top: 1px solid #CCC3BA;
}

.mobile-filter-actions .btn {
  flex: 1;
  padding: 10px 0;
  border: none;
}



/* RESPONSIVENESS  */
/* products grid (2 columns for smaller screens) */
@media (max-width: 1200px) {

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;

  }

}


@media (max-width: 768px) {

  /* titles ajustment */
  .small-nav {
    padding-left: 20px;
    
  }

  .bedroom-title, .bedroom-title .divider {
    padding-left: 20px;
    margin-right: 50px;
    
  }

  .mobile-filter-btn {
    display: block;
  }

  /* sort by ajustment */
  .sort-by {
    padding: 20px 20px;
    position: relative;
    text-align: left;
    
  }

  .sort-options {
    position: absolute;
    left: 20px;
    right: auto;
    
  }


  /* products adjustment, smaller size*/
  .products-layout {
    margin: 20px;
  }

  .product-card {
    padding: 5px;
    padding-bottom: 20px;
  }

  .product-card img:not(.sale-icon) {
    height: 150px;
  }

  .product-card img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }

  .product-card h3 {
    font-size: 1.1rem;
  }


  /* end of page adjustment */
  .pages {
    text-align: center;
    margin: 40px 0 40px 0px;
  }

  /* dont show on mobile */
  .products-layout aside.filters, .reset-all, .mobile-hide {
    display: none;
  }


}









/* ========== PRODUCTS 2 PAGE ========== */
/* SEARCH RESULTS title */

.search-results-header {
  padding: 20px 30px;
  text-align: center;
}



/* SEARCH RESULTS bar */

.search-results-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 20px auto;
  max-width: 600px;
  width: 90%;
  box-sizing: border-box;
}

/* icons/images placement */
.right-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.search-results-bar img {
  height: 20px;
  cursor: pointer;
}

.vertical-divider {
  width: 1px;
  height: 24px;
  background-color: black;
}


.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-btn img {
  height: 20px;
}


/* ========== RESPONSIVENESS FOR MOBILE ========== */

@media (max-width: 768px) {

  /* adjust to smaller screen */
  .search-results-header {
    padding: 15px 20px;
  }

  .search-results-bar {
    width: 95%;
    padding: 8px 16px;
  }

  .search-results-bar img {
    height: 18px;
  }

}











/* ========== PRODUCT PAGE ========== */
/* PRODUCTS */
.product-main {
  display: flex;
  gap: 50px;
  margin: 40px 50px;
  flex-wrap: wrap;
}


/* IMAGES section */
/* main image */
.product-images {
  flex: 1;
}

.main-image {
  position: relative;
}


.main-image img:not(.product-arrow img) {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}


/* THUMBNAIL images */
.thumbnail-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.thumbnail-images img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 3px solid transparent;
}


/* PRODUCT INFO section */
.product-details {
  flex: 1;
  min-width: 320px;
}

.product-title {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.product-price {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.product-summary {
  margin-bottom: 30px;
}



/* CHOOSE SIZE layout */
.size-dropdown {
  position: relative;
  margin: 20px 0;
  width: 100%;
}

/* CHOOSE SIZE button */
.dropdown-btn {
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.dropdown-arrow {
  height: 20px;
  margin-left: auto;

}

/* CHOOSE SIZE hidden */
.dropdown-options {
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 8px;
  padding: 8px 0;
  z-index: 10;
  width: 100%;
}

.dropdown-options p {
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
}


.hidden {
  display: none;
}


/* QUANTITY BUTTONS */
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.product-qty-btn {
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}



/* DESCRIPTION/MEASUREMENT */
.product-section {
  border-top: 1px solid #88857f;
  padding: 25px 0;
}


.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-header h3 {
  margin: 0;
  font-size: 18px;
}

.section-icon {
  height: 20px;
  transition: transform 0.3s ease;
}


/* PRODUCT changing arrows */
.product-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.85);
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-arrow img {
  height: 16px;
}


.product-arrow.left {
  left: 10px;
}

.product-arrow.right {
  right: 10px;
}



/* FILLED CART OVERLAY */
/* Cart header spacing */
.cart-popup h2 {
  font-size: 24px;
  margin-bottom: 0px;
}

/* Item layout */
.cart-item {
  display: flex;
  gap: 14px;
  align-items: flex-start;
  width: 100%;

}

/* Cart contents */
.cart-thumb {
  width: 30%;
  border-radius: 6px;
}


.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-item-details h4 {
  margin: 0;
}

.cart-item-details p {
  font-size: 14px;
  margin: 0;
}



/* Cart quantity buttons */
.cart-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-quantity .qty-btn {
  padding: 4px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  color: #000;
}


/* Cart remove button */
.remove-btn {
  font-size: 12px;
  color: #cb5353;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  font-family: inria sans;

}
/* quantity and remove  */
.cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}


/* cart bottom section alignment */
.cart-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* Discount row */
.discount-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  width: 100%;
}

/* discount button */
.discount-btn {
  padding: 6px 16px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 13px;
  background: none;
  cursor: pointer;
  color: #000000;
}

/* Total row */
.total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin: 24px 0;
}


/* Checkout button */
.btn img {
  height: 18px;
}



/* ========== RESPONSIVENESS FOR MOBILE ========== */

@media (max-width: 768px) {

  /* adjust images and text smaller */
  .product-main {
    gap: 30px;
    margin: 20px;
  }

  .product-images {
    min-width: 100%;
  }

  .main-image img:not(.product-arrow img) {
    height: 260px;
  }

  .thumbnail-images {
    gap: 8px;
  }


  .thumbnail-images img {
    width: 60px;
    height: 60px;
  }


  .product-details {
    min-width: 100%;
  }

  .product-title {
    font-size: 22px;
  }

  .product-price {
    font-size: 18px;
  }


  /* descriptons/measurement adjustment */
  .product-section {
    padding: 16px 0;
    margin-bottom: 30px;
  }

  .section-header h3 {
    font-size: 16px;
  }

  .section-icon {
    height: 18px;
  }



  /* cart items adjustment(smaller) */

  .cart-item-details p {
    font-size: 13px;
  }

  .remove-btn {
    font-size: 12px;
  }


}










/* ========== CART  ========== */

/* Cart page alignment */
.cart-page {
  padding: 100px 50px;
  max-width: 1400px;

}

.cart-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}


.cart-content {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  justify-content: space-between;
  
}


/* CART ITEM alignment */

.cart-page-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #4f4949;
  width: 100%;
}

.cart-page-thumb {
  width: 30%;
  border-radius: 8px;
}

.cart-page-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* quantity and price alignment */
.cart-page-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-page-quantity {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 4px;
  overflow: hidden;
}

.cart-page-quantity button {
  padding: 6px 12px;
  border: none;
  background: #f7f7f7;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}

.cart-page-quantity span {
  padding: 0 12px;
  font-size: 16px;
}


.cart-page-price {
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
  white-space: nowrap;
}



/* ORDER SUMMARY */
.order-summary {
  flex: 0 0 300px;
  padding: 20px;
  border-radius: 8px;

  align-self: flex-start;
}

/* heading */
.order-summary h3 {
  margin: 0 0 20px 0;
  font-size: 22px;
  text-align: left;
}

.summary-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 18px;
  
}

.order-summary hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  margin-bottom: 200px;
}


/* cart checkout button */
.checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;

  text-decoration: none;
  border-radius: 25px;

}




/* ========== RESPONSIVE MOBILE ========== */
@media (max-width: 920px) {

  /* cart page layout (smaller padding for mobile) */
  .cart-page {
    padding: 80px 20px;

  }

  .cart-content {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  /* order summary adjusted (column wise) */
  .order-summary {
    margin-top: 30px;
    width: 90%;
    align-self: center;

  }

  .cart-page-price {
    margin-left: 0;

  }

  .cart-page-details {
    flex-direction: column;
    gap: 12px;
    width: 100%;

  }

}











/* ========== CHECKOUT ========== */

/* CHECKOUT PAGE overall layout */
.checkout-page {
  max-width: 1200px;
  padding: 100px 50px;
}


/* BILLING DETAILS format */

.billing-form {
  margin-bottom: 50px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #333;
  background: none;
  border-radius: 5px;
}



/* checkout payment layout */

.checkout-section {
  margin-bottom: 50px;
  border-radius: 5px;

}



.checkout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.checkout-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 4px;
  background: none;
}


/* YOUR ORDER table */

table {
  width: 100%;
 
  margin-top: 20px;
  border-radius: 5px;
  
}


table, th, td {
  border: 1px solid #333;

}

th, td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
}


th {
  background: none;
  font-size: 18px;
}



/* YOUR ORDER table - images/layout */

.payment-options {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #b8b1b1;
  border-radius: 6px;
  background: #f9f9f9;
}

.payment-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.card-icons img {
  height: 26px;
  width: auto;
}

.payment-row {
  display: flex;
  gap: 12px;
}

.payment-row .checkout-input {
  flex: 1;
}

.payment-options p {
  font-weight: bold;
}


/* PLACE ORDER button  */

.place-order-btn {
  background: #E2A66A;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Inria-serif', serif;
  margin-top: 20px;
  text-decoration: none;

}

.place-order-btn.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}



/* CUSTOM CHECKBOX TICK */
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  margin-bottom: 50px;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

}

.custom-checkbox input[type="checkbox"]:checked {
  background: #E2A66A;
  border-color: #E2A66A;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 12px;

}


/* ========== RESPONSIVE MOBILE ========== */

@media (max-width: 768px) {
  .checkout-page {
    padding: 60px 20px;
  }


  .payment-row {
    flex-direction: column;
    margin-right: 25px;
  }

  .payment-input-group {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
  }

  .card-icons img {
    height: 22px;
  }

  
}






/* ========== CONFIRMATION ========== */

.confirmation-section {
  text-align: center;
  padding: 100px 20px;

}



