
/* ========== MAIN BODY TYPOGRAPHY ========== */
body {
  font-family: 'Inria-serif', serif;
}


/* ========== INDIVIDUAL BODY TYPOGRAPHY ========== */
.hero h2 {
  font-size: 24px;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: 'Inria-serif', serif;
  font-size: 20px;

  border-radius: 25px;
  margin-top: 1em;
}