
/* ========== MAIN BODY TYPOGRAPHY ========== */
body {
  font-family: 'Inria-serif', serif;
}


/* title and paragraph */
.title {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 40px;
}





/* ========== BUTTONS TYPOGRAPHY ========== */
.btn {
  display: inline-block;
  text-decoration: none;
  font-family: 'Inria-serif', serif;
  font-size: 20px;

  border-radius: 25px;

}


/* ========== HOMEPAGE ========== */
/* ========== INDIVIDUAL BODY TYPOGRAPHY ========== */

/* HEADER IMAGE */
/* Main headline text */
.header h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 250px 0px;
  line-height: 1.3;
  max-width: 70%

}

/* CATEGORIES */

/* Text on categories */
.category-overlay h4 {
  color: white;
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Categories 'shop now' buttons */
.category-btn {
  font-size: 1rem;
  font-family: 'inder';
  text-decoration: none;
}


/* WHY CHOOSE SECTION */
/* why choose - features text */

.why-feature h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}


/* GALLERY SECTION  */
/* text under gallery images */
.gallery-label {
  margin-top: 30px;
  font-size: 1.2rem;
  display: block;
}


/* TESTIMONIALS SECTION */
/* testimonials quote text */
.testimonial-quote {
  flex: 1;
  text-align: left;
  font-size: 3rem;
  font-style: italic;
  line-height: 1.6;
}

.testimonial-quote h5 {
  font-weight: normal;
}



/* ========== RESPONSIVENESS FOR MOBILE ========== */

@media (max-width: 768px) {

  /* HEADER IMAGE */
  /* headline text mobile */
  .header h1 {
    font-size: 2.5rem;
    max-width: 80%;
    margin: 100px 0px 150px 0px;
    
  }

  /* TESTIMONIALS SECTION */
  /* Change quote size */
  .testimonial-quote {
    flex: 1;
    font-size: 1.2rem;
    text-align: left;
    width: 90px;
  }


}





/* ========== PRODUCTS 1 PAGE ========== */


/* SMALL NAV at top */
.small-nav a {
  color: black;
  font-size: 16px;
  font-family: 'Inria-serif', serif;
  cursor: pointer;
}


/* SORT BY button */
.sort-btn {
  background: none;
  border: 1px solid black;
  padding: 8px 14px;
  border-radius: 20px;
  font-family: 'Inria-serif', serif;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}


/* RESET ALL (desktop) */
.reset-all {
  font-size: 14px;
  color: #555;
  text-decoration: underline;
  cursor: pointer;
  margin-block-start: 1em;
}

/* PRODUCTS */
/* main product link */
.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
  color: #000;
}

.product-link:hover {
  text-decoration: underline;
}


/* ========== RESPONSIVENESS FOR MOBILE ========== */

/* Mobile FILTER BUTTON */

.filter-btn {
  color: black;
  font-family: 'Inria-serif', serif;
  font-size: 16px;
  cursor: pointer;
}





/* ========== PRODUCTS 2 PAGE ========== */

/* SEARCH RESULTS title */

.search-results-header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Inria-serif', serif;
}

/* SEARCH RESULTS bar */
/* search result text */
.search-term {
  font-family: 'Inria-serif', serif;
  font-size: 16px;
  color: #77736fea ;
}




/* ========== PRODUCT PAGE ========== */

/* CHOOSE SIZE button */

.dropdown-btn {

  font-family: 'Inria-serif', serif;
  font-size: 16px;

}

/* QUANTITY BUTTONS */
.product-qty-btn {

  font-size: 18px;
}




/* ========== CART  ========== */


/* Cart page text */

.cart-header h2 {
  font-size: 32px;
  margin: 0;
}

.cart-header span {
  font-size: 18px;
 
}

/* Cart item text */

.cart-page-text h4 {
  margin: 0 0 6px 0;
  font-size: 18px;
}

.cart-page-text .subtitle {
  margin: 0 0 12px 0;
  font-size: 14px;
  color: #555;
}




/* ========== CHECKOUT ========== */

/* CHECKOUT PAGE headings */

.checkout-page h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
